<footer class="d-flex justify-content-center mt-auto text-white text-center text-md-start "
<footer class="d-flex justify-content-center mt-auto text-white text-center text-md-start "
        style="background-color: #252A6B">
    <!-- Grid container -->
    <div class="container p-4 m-0 text-center">
        <!--Grid row-->
        <div class="row ">
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4">
                <a href="#top">
                    @*<img class="anchor" alt="Logo" src="/pages/Login/img/logo.png" />*@
                </a>
            </div>
            <!--Grid column-->

            <div class="col-lg-6 col-md-12 mb-4 ">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                    aliquam voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <!--Grid column-->

</footer>