@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/LayoutReg.cshtml";
}

<div class="Regist_block">
    <a href="~/Home/Index">
        <img class="logo" alt="Logo" src="~/Content/images/logo.png" />
    </a>
    <form method="post" action="/login/registration">
        <input name="username" class="nickname" type="text" id="nick" placeholder="Enter your nickname:" required />
        <input name="email" class="login" type="email" id="email" placeholder="Enter Email:" required />
        <input name="password" class="password" type="password" id="password" placeholder="Enter Password:"
               required />
        <input class="button" type="submit" value="Enter" />
    </form>
    <p class="Login">
        Already have account?
        @Html.ActionLink("Sign in", "Login", "Login", null);
    </p>
</div>
