@model Domain.ForumContext

@{
    ViewBag.Title = "Forum";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <table style="width: 90%">
            <colgroup>
                <col span="1" style="width: 30%">
                <col span="2" style="width: 5%">
                <col span="3" style="width: 5%">
                <col span="4" style="width: 50%">
            </colgroup>
            <tbody>
                <tr>
                    <th style="background-color: #777">Topic</th>
                    <th style="background-color: #777">Replice</th>
                    <th style="background-color: #777">Creation Time</th>
                    <th style="background-color: #777">Author</th>
                </tr>
                <tr>
                    @for (var i = 0; i < 10; i++) //change 10 to number o topics we have
                    {
                        <td style="background-color: #aaa">First topic</td>
                        <td style="background-color: #aaa">0</td>
                        <td style="background-color: #aaa">@DateTime.Now.Day</td>
                        <td style="background-color: #aaa">@Html.DisplayFor(model => model.uData.Login)</td>
                    }
                </tr>

                <tr>
                    <td style="background-color: #aaa">First topic</td>
                    <td style="background-color: #aaa">0</td>
                    <td style="background-color: #aaa">@DateTime.Now.Day</td>
                    <td style="background-color: #aaa">Vanea</td>
                </tr>
                <tr>
                    <td style="background-color: #aaa">Second topic</td>
                    <td style="background-color: #aaa">100</td>
                    <td style="background-color: #aaa">@DateTime.Now.Day</td>
                    <td style="background-color: #aaa">PHP_Hater</td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>

