<footer>
	<div class="row footer align-items-center">
		<div class="col-4  pb-3">
			<div class="text-center">
				<img src="~/Content/images/logo.png" width="200" class="img-fluid">
			</div>
		</div>

		<div class="col-4 rights ">
			<div class="small">
				<ul class="list-inline">
					<li class="list-inline-item">&copy; 2023 UTM group</li>
					<li class="list-inline-item">All rights reserved.</li>
					<li class="list-inline-item"><a href="#0">Terms of use and privacy policy</a>.</li>
				</ul>
			</div>
		</div>

		<div class="col-4 members">
			<div class="small">
				<ul class="list-inline">
					<p class="text-center">Membrers:</p>
					<p class="text-center">Dima <br> Alex <br> Ivan <br> Leomir</p>

				</ul>
			</div>

		</div>
	</div>
</footer>

