@using Domain;

<header class="header">
    <div class="header-container">
        <div class="header-row">
            <div class="header-navigationcontainer">
                <div class="header-1column-logocontainer">
                    <img src="~/Content/images/logo.png" class="img-fluid">
                </div>

                <div class="header-2column">
                    <div class="header-2column-1rowhome">
                        <div class="header-2column-1rowhome-imgcontainer">
                            <a href="#">
                                <img src="~/Content/images/image 8.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="header-2column-1rowhome-textcontainer header-2column-1rowhome-textcontainerneon">
                            <a href="/Home/">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Go home
                            </a>
                        </div>
                    </div>

                    <div class="header-2column-2rowbuttonscontainers">
                        <!-- <div class="header-2column-buttonfilmscontainer">
                            <a href="#"><button type="button"
                                    class="btn btn-primary btn-lg btn-block customButton">Films</button> </a>
                        </div> -->

                        <div class="header-2column-buttongenrescontainer">
                            <button class="btn btn-primary btn-lg dropdown-toggle customButton" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Genres
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/Genres/Action">Action</a></li>
                                <li><a class="dropdown-item" href="/Genres/Crime">Crime</a></li>
                                <li><a class="dropdown-item" href="/Genres/Family">Family</a></li>
                                <li><a class="dropdown-item" href="/Genres/Thriller">Thriller</a></li>
                                <li><a class="dropdown-item" href="/Genres/Adventure">Adventure</a></li>
                                <li><a class="dropdown-item" href="/Genres/Documentary">Documentary</a></li>
                                <li><a class="dropdown-item" href="/Genres/Action">Action</a></li>
                                <li><a class="dropdown-item" href="/Genres/Horror">Horror</a></li>
                                <li><a class="dropdown-item" href="/Genres/Animation">Animation</a></li>
                                <li><a class="dropdown-item" href="/Genres/Comedy">Comedy</a></li>
                            </ul>
                        </div>

                        <div class="header-2column-buttonforumcontainer">
                            <a href="/Forum/Topics">
                                <button type="button"
                                        class="btn btn-primary btn-lg btn-block customButton">
                                    Forum
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="header-3column">
                    <div class="header-3column-findcontainer1">
                        <div class="header-3column-findtext">
                            Найдите актёра, который вас интересует:
                        </div>
                        <div class="header-3column-findform">
                            <form>
                                <input type="text" name="" placeholder="Поиск.." id="ActorSearch">
                                <input type="button" name="" value="Поиск" onclick="processActor()">
                            </form>
                        </div>
                    </div>

                    <div class="header-3column-findcontainer2">
                        <div class="header-3column-findtext">
                            Найдите фильм, который вас интересует:
                        </div>
                        <div class="header-3column-findform">
                            <form>
                                <input type="text" name="" placeholder="Поиск.." id="MovieSearch">
                                <input type="button" name="" value="Поиск" onclick="processMovie()">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-4column">
                <div class="header-4column-profilecontainer">
                    <div class="header-4column-profile-buttonscontainer">
                        @if (User.Identity.IsAuthenticated && User.Identity is CustomIdentity customIdentity)
                        {
                            <div class="header-4column-profile-buttons">
                                @Html.ActionLink("Logout", "Logout", "Login")
                            </div>
                            <div class="header-4column-profile-iconcontainer">
                                <a href="/Profile/Index">
                                    <img src="@customIdentity.ProfilePic" alt="" class="img-fluid">
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="header-4column-profile-buttons">
                                @Html.ActionLink("Login", "Login", "Login")
                                @Html.ActionLink("Sign up", "Registration", "Login")
                            </div>
                            <div class="header-4column-profile-iconcontainer">
                                <img src="~/Content/images/logo2.png" alt="" class="img-fluid">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>