body {
    background-color: rgb(41, 45, 63) !important;
}

.fonto {
    font-size: calc(15px + 0.7vw);
}

.fonto1 {
    font-size: calc(15px + 0.4vw);
}

.swiper {
    height: 400px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding-right: 1%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    height: 100vh;
}
    
.logo{
    position: absolute;
    left:97%;
    top:0.5%;
    height: 20%;
    
}
.text_logo_login{
    color:#ffffff;
    word-spacing: 5px;
    position:absolute;
    left:89%;
    height:20%;
    top:1.4%;
    text-decoration: none;
}
.text_logo_registration{
    color:#ffffff;
    word-spacing: 5px;
    position:absolute;
    left:92%;
    height:20%;
    top:1.4%;
    text-decoration: none;
    
}