html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(41, 45, 63) !important;
}

.fonto {
    font-size: calc(15px + 0.7vw);
}

.fonto1 {
    font-size: calc(15px + 0.4vw);
}

.swiper {
    height: auto !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.slider_img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding-right: 1%;
}

body {
    height: 100vh;
}

.logo {
    position: absolute;
    left: 97%;
    top: 0.5%;
    height: 50px;
    right: 4;
}

.text_logo_login {
    color: #ffffff;
    word-spacing: 5px;
    position: absolute;
    left: 89%;
    height: 50px;
    top: 1.4%;
    text-decoration: none;
}

.text_logo_registration {
    color: #ffffff;
    word-spacing: 5px;
    position: absolute;
    left: 92%;
    height: 50px;
    top: 1.4%;
    text-decoration: none;
}

